/*
	 Name:         Providers CSS
	 Author:       Matt Chauta
	 Author URI:   http://thriveworks.com/
	 Version:      1.1

	*/

.associate-profile {
    border: 1px solid #efefef;
    padding: 50px !important;
    border-radius: 20px;
    background-color: #fff;
    background-color: white;
    box-shadow: 1px 3px 5px #888888;
    margin-bottom: 50px;
    display: inline-block;
}

.associate-profile h4 {
    margin-top: 0px;
}

.associate-profile h5 {
    font-size: 25px;
}

.associate-desc {
    max-height: 450px;
    overflow-y: scroll;
}

.associate-left button {
    display: block;
    box-shadow: 0 6px 6px -6px #666;
    margin: 10px 0;
}

.associate-left button a {
    color: #fff;
}

.associate-left {
    margin: 0 25px 0 0;
    text-align: center;
    min-width:200px;
}

.associate-spec ul {

}

.associate-spec ul li {
    padding: 2px 10px;
    color: #696969;
    display: inline-block;
    margin: 5px 0 0 0;
    font-size: 16px;
    border: 1px solid #a9a9a9;


}
.associate-spec ul li::before {
    content: none !important;
}

.associate-pay ul li::before {
    content: none !important;
}

.associate-pay ul li {
    padding: 2px 10px;
    color: #696969;
    display: inline-block;
    margin: 5px 0 0 0;
    font-size: 16px;
    border: 1px solid #a9a9a9;
}

.associate-title {
    margin-bottom: 15px;
    font-size: 16px;
    /*border-bottom: 1px solid #a9a9a9;*/
}

.associate-title hr {
    margin-top:15px;
    margin-bottom: 0px;
}
.associate-rev-snippet {
    float: right;
}

.associate-address {
    margin-top:15px;
}

@media only screen and (max-width: 830px) {
    .associate-rev-snippet {
        float: none;
    }
}

.corp-profile {
    display: inline;
}


.corp-profile-left {
   float: left;
    margin-right: 20px;
}

.corp-profile-right {
    min-height: 300px;
}
.corp-profile-left span {
position: absolute;
    font-size: 30px;
    color: #fff;
padding: 10px 6px 12px 10px;
    background-color: #c4302b;
    border-radius: 10px;
    margin:10px
}
@media only screen and (max-width: 475px) {
    .corp-profile-left {
        float: none;
        text-align: center;
    }
}
