/*
	 Name:         TWX Reviews CSS
	 Author:       Matt Chauta
	 Author URI:   http://thriveworks.com/
	 Version:      1.1

	*/

.review-group {

}

.review-group .review {
    width: 33%;
    display: inline-block;
    min-width: 300px;
}

.reviews-name {
text-align: right;
}

.reviews_read_more {
display: none;
}


.reviews_read_more_link {
    display: block;
    text-align: center;
    font-size: 14px;
}
.reviews_read_less_link {
    display: block;
    text-align: center;
    font-size: 14px;
}

